.c{
    background-color: rgb(154, 206, 236);
    color: white;
}
.blue{
    background-color: blue;
    color: rgb(0, 0, 0);
}
.red{
    background-color: rgb(255, 25, 198);
    color:rgb(0, 0, 0);
    
}
.container{
    width:200px;
    height: 500px;
    border: 2px solid blue;
    
    color:rgb(0, 0, 0);
    
    background: red top left url("art.jpeg") repeat fixed;
    background-size: 100px 100px;
    
}
    
    
.also{
    border: chartreuse;
    color:white;

    
}
h1{
    color:red;
}
